<header>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.btn.icon.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('css/header.css') }}" type="text/css" />
    {% endblock %}
    <nav class="navbar navbar-default headerNews">
        <div class="container-fluid">

            <div class="navbar-header">
                <a class="navbar-brand"  style="font-family: Monotype Corsiva;color:blue; cursor: default"><strong>News Portal</strong></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {% if app.request.getPathInfo == '/portal' %}
                    <li class="active">
                        <a href="#" class="home">Home <span class="sr-only">(current)</span></a>
                        {% else %}
                    <li>
                        <a href="{{ path("portal") }}" class="home">Home <span class="sr-only">(current)</span></a>
                    {% endif %}
                    </li>
                </ul>

                {% block javascripts %}
                    <script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
                    <script src="{{ asset('css/bootstrap/js/bootstrap.min.js') }}"></script>
                {% endblock %}
                {% if app.user  == null %}
                    <div class="container">
                        <a href="{{ path("security_login") }}" class="btn btn-primary logoutUser">Вход</a>
                        <a href="{{ path("user_register") }}" class="btn btn-info logoutUser">Регистрация</a>
                    </div>
                {% elseif  app.user  != null %}
                    <div class="container">
                        <a href="{{ path("logout") }}" class="btn btn-primary logoutUser">Выход</a>

                        <div class="btn-group userIcon">
                            <a class="btn dropdown-toggle" data-toggle="dropdown"  href="#">
                                <img src="/img/glyphicons-4-user.png" class="icon"/>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path("admin_show_profiles") }}"><i class="icon-pencil"></i> Editing user</a></li>
                                <li><a href="{{ path("moderator_show_articles") }}"><i class="icon-pencil"></i> Editing news</a></li>
                                <li class="divider"></li>
                                <li><a href="{{ path("moderator_show_articles") }}"><i class="icon-off"></i>Exit</a></li>
                            </ul>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </nav>
</header>