{% extends 'base.html.twig' %}

{% block title %}Новостной портал{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/bootstrap/css/bootstrap.css') }}" type="text/css" />
	<link rel="stylesheet" href="{{ asset('css/index.css') }}" type="text/css" />
{% endblock %}

{% block user_content %}
    {% include 'header.html.twig'%}
	<div id="wrapper">
	<main>

        {% include 'menu.html.twig' %}

		<section>
            {% if is_granted("ROLE_USER") %}
			<article id="content" >
                {% block content %}

                {% endblock %}
            </article>
             {% else %}
                 <div class="access">
                     {% if  app.user != null%}
                         {% trans %}Check your email for new messages and activate your account{% endtrans %}
                     {% else %}
                 <p>{% trans %}If you want see news, you need to{% endtrans %} <a href="{{ path("user_register") }}">{% trans %}sign up{% endtrans %}</a> {% trans %}in the portal{% endtrans %}<br>
                     {% trans %}or{% endtrans %} <a href="{{ path("security_login") }}">{% trans %}enter{% endtrans %}</a>
                 </p>
                     {% endif %}
                 </div>
            {% endif %}
		</section>
	</main>
  </div>
    {{ parent() }}
{% endblock user_content %}

