{% extends 'base.html.twig' %}

{% block title %}Новостной портал{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/bootstrap/css/bootstrap.css') }}" type="text/css" />
	<link rel="stylesheet" href="{{ asset('css/index.css') }}" type="text/css" />
{% endblock %}

{% block user_content %}
    {% include 'header.html.twig'%}
	<div id="wrapper">
	<main>
		<aside>
            {{ knp_menu_render('AppBundle:MenuBuilder:mainMenu') }}

            {% block javascripts %}
				<script src="{{ asset('js/listCategory.js') }}"></script>
            {% endblock %}
		</aside>

		<section>

			<article>

				<table class="table table-hover table-responsive">
					<thead>
					<tr>
						<th>News</th>
					</tr>
					</thead>
					<tbody>
                    {% for news in result %}
						<tr>
							<td><img src="/img/newsImage/mini/{{ news.id}}.jpg" ></td>
							<td><strong>{{ news.news}}</strong><br>
							{{ news.shortDescription}}</td>
						</tr>
                    {% endfor %}
					</tbody>
				</table>
				<div class="navigation text-center">
                    {{ knp_pagination_render(result) }}
				</div>
					
			</article>
		</section>
	</main>
  </div>
    {{ parent() }}
{% endblock user_content %}

