{% extends 'index.html.twig' %}
{% block content %}
    <div id="loader" hidden>
        <div class="contpre">
            <span class="svg_anm"></span><br>{% trans %}Wait{% endtrans %}<br>
            <small>{% trans %}Loading{% endtrans %}</small>
        </div>
    </div>

    <div id="cont" hidden>
        {% if content is empty  %}
        <p class="nothing">{% trans %}Your search did not match{% endtrans %}</p>
        {% else %}
        <table class="table table-hover table-responsive " id="page-content">
            <thead>
                <tr>
                    <th>{% trans %}News{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>
                {% for news in content %}

                    <tr>
                        <td><a href="/portal/article/{{ news.id}}"><img src="/img/newsImage/mini/{{ news.id}}.jpg"></a></td>
                        <td><a href="/portal/article/{{ news.id}}"><strong>{{ news.news}}</strong></a><br>
                            {{ news.shortDescription}}</a></td>
                    </tr>

                {% endfor %}
            {% endif %}
            </tbody>
        </table>
        <div class="navigation text-center">
    {{ knp_pagination_render(content) }}
        </div>
    </div>
    <script src="{{ asset('js/show-news.js') }}"></script>
{% endblock %}