{% extends 'base.html.twig' %}
{% block title %}{% trans %}Edit user{% endtrans %}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/bootstrap/bootstrap-select.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/edit.css') }}">
{% endblock %}

{% block user_content %}
    {% include 'header.html.twig'%}
    <div class="container">
        <div class="">
            <div class="">
                <h2>{% trans %}Edit user{% endtrans %}</h2>

                {{ form_start(userForm, {'attr' : {'class' : 'edit-form'}}) }}
                    {{ form_row(userForm.email) }}
                    {{ form_row(userForm.username, { 'label': 'Name'}) }}
                    {{ form_row(userForm.isActive) }}
                    {{ form_row(userForm.roles)}}
                <div>
                    {{ form_label(userForm.mailingOfLetters,'Mailing of letters', {'label_attr' : { 'class' : 'mailing'}}) }}
                    {{ form_errors(userForm.mailingOfLetters) }}
                    {{ form_widget(userForm.mailingOfLetters) }}
                </div>

                <button type="submit" class="btn control-buttons" formnovalidate>{% trans %}Save{% endtrans %}</button>
                <button type="button" class="btn btn-danger control-buttons" onclick="history.back(-1)">{% trans %}Cancel{% endtrans %}</button>
                {{ form_end(userForm) }}
            </div>
        </div>
    </div>


    {% block javascripts %}
        <script src="{{ asset('js/bootstrap-select.js') }}"></script>
    {% endblock %}

{% endblock user_content %}