{% extends "/layout.html.twig" %}
{% block title %}
    {% trans %}Sign in{% endtrans %}
{% endblock %}
{% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/login.css') }}" type="text/css" />
{% endblock %}
{% block user_content %}
    <div class="container">
        {% if error %}
            <div>{% trans %} Wrong data! Check and enter yet time {% endtrans %}</div>
        {% endif %}
        {% if message %}
            <div class="card-panel green lighten-2">
                {{ message|trans }}
            </div>
        {% endif %}
    </div>

    {{ form_start(form,{'attr': {'class': 'form-signin'}}) }}
    {{ form_widget(form) }}
    <label class="checkbox">
    <input type="checkbox" value="remember-me">{% trans %} Remember me {% endtrans %}
    </label>
    <button class="btn btn-lg btn-primary btn-block" type="submit">{{ 'Sign in'|trans }}</button>
    <div class="container recovery">
        <a href="{{ path("password_recovery") }}">{% trans %}Forgot your password? click here! {% endtrans %}</a>
    </div>
    {{ form_end(form) }}

{% endblock user_content %}