{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/add.css') }}">
    {{ parent() }}
{% endblock %}

{% block user_content %}
    {% include 'header.html.twig'%}
    <div class="container">
        <div class="row">
            <div class="col s12">

                    <a class="addButton" href="{{ path('moderator_articles_add') }}">
                        <div>
                        <i class="icon-plus"></i>
                            {% trans %}Add Article{% endtrans %}
                        </div>
                    </a>

                <table class="table table-hover table-responsive">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>{% trans %}Articles{% endtrans %}</th>
                        <th>{% trans %}Category{% endtrans %}</th>
                        <th>{% trans %}Author{% endtrans %}</th>
                        <th>{% trans %}Short description{% endtrans %}</th>
                        <th>{% trans %}Date{% endtrans %}</th>
                        <th> </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for article in articles %}
                        <tr>
                            <td>{{ article.id }}</td>
                            <td>{{ article.news }}</td>
                            <td>{{ article.category.name}}</td>
                            <td>{{ article.author }}</td>
                            <td>{{ article.shortdescription }}</td>
                            <td>{{ article.year|date("m/d/Y") }}</td>
                            <td><a class="btn btn-default" href="{{ path('moderator_articles_edit', { 'id': article.id }) }}">
                                    <i class="icon-pencil"></i> </a>
                                <a class="btn btn-default" href="{{ path('moderator_articles_remote', { 'id': article.id }) }}">
                                    <i class="icon-trash"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock user_content %}
