{% extends 'articles/articles.html.twig' %}
{% block content %}
    <div id="loader" hidden>
        <div class="contpre">
            <span class="svg_anm"></span><br>{% trans %}Wait{% endtrans %}<br>
            <small>{% trans %}Loading{% endtrans %}</small>
        </div>
    </div>
    <div id="cont" hidden>
    <table class="table table-hover table-responsive">
        <thead>
        <tr>
            <th>ID</th>
            <th>{% trans %}Articles{% endtrans %}</th>
            <th>{% trans %}Category{% endtrans %}</th>
            <th>{% trans %}Author{% endtrans %}</th>
            <th>{% trans %}Short description{% endtrans %}</th>
            <th>{% trans %}Date{% endtrans %}</th>
            <th> </th>
        </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.news }}</td>
                <td>{{ article.category.name}}</td>
                <td>{{ article.author }}</td>
                <td>{{ article.shortdescription }}</td>
                <td>{{ article.year|date("m/d/Y") }}</td>
                <td><a class="btn btn-default" href="{{ path('moderator_articles_edit', { 'id': article.id }) }}">
                        <i class="icon-pencil"></i> </a>
                    <a class="btn btn-default" href="{{ path('moderator_articles_remove', { 'id': article.id }) }}">
                        <i class="icon-trash"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation text-center">
        {{ knp_pagination_render(articles) }}
    </div>
    </div>
    <script src="{{ asset('js/show-news.js') }}"></script>
{% endblock %}